
:root {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  text-align: center;
}
.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header::before {
  content: '';
  position: absolute;
  inset: 0; 
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.line {
  line-height: 1.7; 
}

.logo {
  height: 180px;
  width: 180px;
}

.header-title,
.p-text {
  margin-top: 20px;
}

.header-title {
  font-size: 35px;
}

.p-text {
  font-size: 17px;
}

.services {
  padding: 64px 16px;
  gap: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.services-container {
  display: flex;
}

.h2-title {
  margin: 18.72px;
  font-size: 18.72px;
  font-weight: bold;
}

.about {
  padding: 64px 16px;
  color: initial;
  background-color: #fff;
  text-align: initial;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-img-wrapper,
.about-content-wrapper {
  max-width: 50%;
}

.about-img-wrapper {
  margin: 0 auto;
}

.footer {
  padding: 35.2px;
}
