* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  text-align: center;
}
.header {
  position: relative;
  min-height: 100vh;
}
.header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 83vh;
}
.line {
  line-height: 1.7;
}

.logo {
  height: 180px;
  width: 180px;
}
.header-title {
  font-size: 35.2px;
  margin-top: 16px;
}
.p-text {
  font-size: 16px;
  margin: 16px;
}
.h2-title {
  margin: 18.72px 0;
}
.services {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 64px 16px;
}

.about {
  padding: 64px 16px;
  color: initial;
  background-color: #fff;
  text-align: initial;
}
.about-article {
  display: flex;
  align-items: center;
}
.about-img-wrapper {
  margin: 0 auto;
}

.about-content-wrapper {
  max-width: 960px;
}

.footer {
  padding: 15px;
}
